.featured {
  display: flex;
  justify-content: space-between;
}
.featuredItem {
  flex: 1;
  margin: 0 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: -1px 3px 9px 2px rgba(0, 0, 0, 0.12);
  box-shadow: -1px 3px 9px 2px rgba(0, 0, 0, 0.12);
}
.featuredTitle {
  font: size 20px;
}
.featuredMoneyContainer {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.featuredMoney {
  font-size: 30px;
  font-weight: 600;
}
.featuredMoneyRate {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.featuredIcon {
  font-size: 14px;
  color: green;
  margin-left: 5px;
}
.featuredIcon.negative {
  color: red;
}
.featuredItemSub {
  font-size: 15px;
  color: gray;
}
